[submodule "lib/socket.io-node"]
	path = lib/socket.io-node
	url = https://github.com/LearnBoost/Socket.IO-node.git
[submodule "lib/socket.io"]
	path = lib/socket.io
	url = https://github.com/LearnBoost/Socket.IO.git
