body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.chatlist {
	border: solid 1px gray;
	overflow: scroll;
	padding: 10px;
	list-style-type: none;
	list-style-position: inside;
}

.chatlist li.chat {
	
} 

.chatlist li.meta {
	color: gray;
	font-style: italic;
} 

#infoz {
	padding: 10px;
	line-height: 200%;
	position: absolute;
	top: 360px;
	display: none;
}
