<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/m.s.io-c.compiled.js"></script>
<script type="text/javascript" src="javascripts/client.js"></script>

<div id='infoz'>
<p>Yes, it's a chat server in a web browser. <strong>Boring</strong>.</p>

<p><em>Well</em>, it uses socket.io. Okay, less boring - but still has been done before</p>

<p>But wait, this one is different! </p>

<p>It uses message.socket.io and the communications model is abstracted away, the server/client simply expose functions to each other and clients handle server events resulting in super simple code. See for yourself <a href='https://gist.github.com/847609'>less than 200 lines combined</a>*.</p>

<p>I built it because I needed it, I am not aware of something like this existing elsewhere - but I wouldn't bet on it either.</p>

<p><a href='https://github.com/aelaguiz/message.socket.io'>Github Repo</a></p>
<p><small><em>*With random crap stripped</br>

**Nothing I build has been tested anywhere and as such should not be used by anyone</br></em></small></p>
</div>